<div
  class="min-w--screen min-h-screen bg-teal-800 flex items-center justify-center px-5 py-5"
>
  <div
    class="w-full mx-auto rounded-xl shadow-xl text-gray-800 relative overflow-hidden"
    style="max-width: 350px"
  >
    <h2 class="text-center text-white py-5 text-2xl font-bold">
      Angular Calculator
    </h2>
    <!------------------- Calculator Screen ------------->
    <div
      class="w-full h-40 bg-gradient-to-b from-gray-800 from to-gray-700 text-right"
    >
      <!------------------- Function Screen ------------->
      <div class="w-full py-5 px-6 text-1xl text-white font-thin">{{funcT}}</div>
      <!----------------Number Screen---------------->
      <div class="w-full py-5 px-6 text-6xl text-white font-thin">{{calValue | number}}</div>
    </div>
    <!-- End Calculator Screen ---->

    <!------------------Calculator Button area-------------->

    <div class="w-full bg-gradient-to-b form bg-pink-600 to-pink-800">
      <!--first button row---->
      <div class="flex w-full">
        <!---   Clear Button  -->
        <div class="w-2/4 border-r border-b border-pink-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-600 bg-red-700 opacity-50 hover:opacity-90 text-white text-opacity-80 text-xl font-light"
            (click) = "onclickValue('c', 'function')"
          >
            C
          </button>
        </div>
        <!--  End Clear Button  -->
        <!--  percentage button -->
        <div class="w-1/4 border-r border-b border-pink-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-pink-700 hover:bg-opacity-50 text-xl font-light text-white"
            (click) = "onclickValue('%', 'function')"
          >
            %
          </button>
        </div>
        <!--  End percentage Button  -->
        <!--  deviation button -->
        <div class="w-1/4 border-r border-b border-pink-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-pink-700 hover:bg-opacity-50 text-xl font-light text-white"
            (click) = "onclickValue('/', 'function')"
          >
            /
          </button>
        </div>
        <!--  End deviation Button  -->
      </div>
      <!--End first button row---->

      <!-- Second button row---->
      <div class="w-full flex">
        <!---Number 7 button --->
        <div class="w-1/4 border-r border-b border-pink-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-pink-700 hover:bg-opacity-50 text-xl font-light text-white"
            (click) = "onclickValue('7', 'number')"
          >
            7
          </button>
        </div>

        <!--  End Number 7 Button  -->
        <!---Number 8 button --->
        <div class="w-1/4 border-r border-b border-pink-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-pink-700 hover:bg-opacity-50 text-xl font-light text-white"
            (click) = "onclickValue('8', 'number')"
          >
            8
          </button>
        </div>

        <!--  End Number 8 Button  -->
        <!---Number 9 button --->
        <div class="w-1/4 border-r border-b border-pink-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-pink-700 hover:bg-opacity-50 text-xl font-light text-white"
            (click) = "onclickValue('9', 'number')"
          >
            9
          </button>
        </div>

        <!--  End Number 9 Button  -->
        <!---Number * button --->
        <div class="w-1/4 border-r border-b border-pink-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-pink-700 hover:bg-opacity-50 text-xl font-light text-white"
            (click) = "onclickValue('*', 'function')"
          >
            *
          </button>
        </div>

        <!--  End Number * Button  -->
      </div>
      <!-----  End Second Button row-->

      <!-- Third button row---->
      <div class="w-full flex">
        <!---Number 4 button --->
        <div class="w-1/4 border-r border-b border-pink-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-pink-700 hover:bg-opacity-50 text-xl font-light text-white"
            (click) = "onclickValue('4', 'number')"
          >
            4
          </button>
        </div>

        <!--  End Number 4 Button  -->
        <!---Number 5 button --->
        <div class="w-1/4 border-r border-b border-pink-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-pink-700 hover:bg-opacity-50 text-xl font-light text-white"
            (click) = "onclickValue('5', 'number')"
          >
            5
          </button>
        </div>

        <!--  End Number 5 Button  -->
        <!---Number 6 button --->
        <div class="w-1/4 border-r border-b border-pink-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-pink-700 hover:bg-opacity-50 text-xl font-light text-white"
            (click) = "onclickValue('6', 'number')"
          >
            6
          </button>
        </div>

        <!--  End Number 6 Button  -->
        <!---Number - button --->
        <div class="w-1/4 border-r border-b border-pink-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-pink-700 hover:bg-opacity-50 text-xl font-light text-white"
            (click) = "onclickValue('-', 'function')"
          >
            -
          </button>
        </div>

        <!--  End Number - Button  -->
      </div>
      <!-----  End Third Button row-->

      <!-- Fourth button row---->
      <div class="w-full flex">
        <!---Number 1 button --->
        <div class="w-1/4 border-r border-b border-pink-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-pink-700 hover:bg-opacity-50 text-xl font-light text-white"
            (click) = "onclickValue('1', 'number')"
          >
            1
          </button>
        </div>

        <!--  End Number 1 Button  -->
        <!---Number 2 button --->
        <div class="w-1/4 border-r border-b border-pink-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-pink-700 hover:bg-opacity-50 text-xl font-light text-white"
            (click) = "onclickValue('2', 'number')"
          >
            2
          </button>
        </div>

        <!--  End Number 2 Button  -->
        <!---Number 3  button --->
        <div class="w-1/4 border-r border-b border-pink-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-pink-700 hover:bg-opacity-50 text-xl font-light text-white"
            (click) = "onclickValue('3', 'number')"
          >
            3
          </button>
        </div>

        <!--  End Number 3 Button  -->
        <!---Number + button --->
        <div class="w-1/4 border-r border-b border-pink-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-pink-700 hover:bg-opacity-50 text-xl font-light text-white"
            (click) = "onclickValue('+', 'function')"
          >
            +
          </button>
        </div>

        <!--  End Number + Button  -->
      </div>
      <!-----  End Fourth Button row-->

      <!--fifth button row---->
      <div class="flex w-full">
        <!--  number 0 button -->
        <div class="w-1/4 border-r border-b border-pink-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-pink-700 hover:bg-opacity-50 text-xl font-light text-white"
            (click) = "onclickValue('0', 'number')"
          >
            0
          </button>
        </div>
        <!--  End number 0 Button  -->
        <!--  point button -->
        <div class="w-1/4 border-r border-b border-pink-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-pink-700 hover:bg-opacity-50 text-xl font-light text-white"
            (click) = "onclickValue('.', 'number')"
          >
            .
          </button>
        </div>
        <!--  End point Button  -->
        <!---   Equals Button  -->
        <div class="w-2/4 border-r border-b border-pink-400">
          <button id = "btn"
            class="w-full h-16 outline-none hover:bg-blue-800 bg-pink-700 hover:bg-opacity-50 text-white text-opacity-80 text-xl font-light"
            (click) = "onclickValue('=', 'function')"
          >
            =
          </button>
        </div>
        <!--  End Equals Button  -->
      </div>
      <!--End fifth button row---->
    </div>
    <!---  End Calculator Button Area  ---->
  </div>
</div>
